name: ci
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - '1.11'
          - '1.12'
          - '1.13'
          - '1.14'
          - '1.15'
          - '1.16'
    env:
      GO111MODULE: on
      REVIEWDOG_ON: '1.16'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Run go test
        run: |
          go vet ./...
          go build ./...

          go test $(go list ./... | grep -v examples) \
            -tags matroska_official \
            -v \
            -race -coverprofile=cover.out -covermode=atomic

          go mod tidy
          git diff --exit-code go.mod  # must be up-to-date and tidied
      - uses: codecov/codecov-action@v2
        with:
          file: ./cover.out
